<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wufanfirstkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/blue_left"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/left"
        android:screenOrientation="portrait"
        android:supportsRtl="true"

        android:theme="@style/Theme.FirstKotlin">
        <activity android:name=".sqlite.SqliteActivity"></activity>
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".Service.ServiceIntentActivity" />
        <activity android:name=".fragment.pagerViewFragment.FragmentPagerActivity" />

        <service
            android:name=".Service.VolumeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.IntentServiceImpl"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".broadcast.BroadcastTestActivity" />
        <activity
            android:name=".broadcast.BroadCastActivity"
            android:launchMode="singleTask" />
        <activity android:name=".viewPractice.DatePickerActivity" />
        <activity android:name=".viewPractice.CheckBoxActivity" />
        <activity android:name=".Service.ServiceJavaActivity" />
        <activity android:name=".viewPractice.DialogActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewPractice.WebViewActivity" />
        <uses-library android:name="android.test.runner" />
    </application>
    <!--<instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test"
        android:targetPackage="c" />-->

</manifest>