<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wufanfirstkotlin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 连接网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于管理监听网络状态的变化 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于管理监听网络状态的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于管理监听网络状态的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 获取电话的状态,在打电话的时候暂停播放 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- target >=28 需要设置此权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/iconfont"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconfont"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".http.TestOKHttpActivity" />
        <activity android:name=".scan.CaptureActivity" />
        <activity android:name=".scan.ScanQRActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="firstkotlin" />
            </intent-filter>
        </activity>
        <activity android:name=".surfaceview.SurfaceViewActivity" />
        <activity android:name=".handler.HandlerThreadActivity" />
        <activity android:name=".fragment.kotlin.fragmentwithviewpager2.FragmentWithViewpager2Activity" />
        <activity android:name=".fragment.kotlin.fragmentviewpager2.FragmentViewPagerActivity" />
        <activity android:name=".fragment.kotlin.fragmentTransaction.FragmentTransactionActivity" />
        <activity android:name=".fragment.kotlin.KotlinFragmentActivity" />
        <activity android:name=".sqlite.MMKV.MmkvActivity" />
        <activity android:name=".customView.MoreFingerOperationActivity" />
        <activity android:name=".customView.MoreFingerOperateActivity" />
        <activity android:name=".asynctask.AsyncTaskActivity" />
        <activity android:name=".sqlite.sharedpreference.SharedpreferenceActivity" />
        <activity android:name=".himalaya.PlayerActivity" />
        <activity
            android:name=".himalaya.DetailActivity"
            android:theme="@style/CatDetailTheme" />
        <activity android:name=".himalaya.HimalayaActivity" />
        <activity
            android:name=".materialdesign.CatDetailActivity"
            android:theme="@style/CatDetailTheme" />
        <activity android:name=".materialdesign.FloatingActionButtonActivity" />
        <activity android:name=".materialdesign.DrawerActivity" />
        <activity android:name=".materialdesign.ToolbarActivity" />
        <activity android:name=".materialdesign.MaterialDesignActivity" />
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".customView.CustomActivity" />
        <activity android:name=".http.OkhttpActivity" />
        <activity android:name=".sqlite.SqliteActivity" />
        <activity android:name=".sqlite.kotlin_sqlite.SqliteKotlinActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".Service.ServiceIntentActivity" />
        <activity android:name=".fragment.pagerViewFragment.FragmentPagerActivity" />
        <activity
            android:name=".mvp.LoginMVPActivity"
            android:label="@string/title_activity_login_m_v_p">
            <intent-filter>
                <action android:name="com.wf.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".broadcast.BroadcastTestActivity">
            <intent-filter>
                <action android:name="com.wf.action.sa" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcast.BroadCastActivity"
            android:launchMode="singleTask" />
        <activity android:name=".viewPractice.DatePickerActivity" />
        <activity android:name=".viewPractice.CheckBoxActivity" />
        <activity android:name=".Service.ServiceJavaActivity" />
        <activity android:name=".viewPractice.DialogActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewPractice.WebViewActivity" />

        <uses-library android:name="android.test.runner" />

        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player" />
        <service
            android:name=".Service.VolumeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.IntentServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Service.NotifyingService"
            android:exported="false" />

        <meta-data
            android:name="com.mob.mobpush.debugLevel"
            android:value="4" /> <!-- 接收推送通知点击处理的receiver -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="106201515" />
    </application>

</manifest>